[flake8]
max-line-length = 120
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    docs,
    migrations,
    alembic,
    .mypy_cache,
    .tox,
    .venv,
    build,
    dist,
    venv,
    mi_server,
    backend/admin.py,
    backend/routes/web_main.py,
    backend/routes/api.py
