<div class="logo-container">
  <div class="logo">Panel Admin</div>
</div>
<nav>
  <ul class="nav-menu">
    <li class="nav-item">
      <a href="{{ url_for('admin.index') }}" class="nav-link"> Dashboard </a>
    </li>
    <li class="nav-item">
      <a href="{{ url_for('config_examenes.index') }}" class="nav-link">
        Configuración Exámenes
      </a>
    </li>
    {# El objeto `admin_view.admin` nos da acceso al menú principal #} {% for
    item in admin_view.admin.menu() %} {# Solo mostramos elementos que no sean
    categorías vacías #} {% if item.is_visible() and item.is_accessible() and
    item.name not in ['Home', 'Configuración de Exámenes', 'Configuración
    Sistema'] %}
    <li class="nav-item">
      <a
        href="{{ item.get_url() }}"
        class="nav-link {{ 'active' if item.is_active(admin_view) else '' }}"
      >
        {{ item.name }}
      </a>
    </li>
    {% endif %} {% endfor %}
  </ul>
  <ul class="nav-menu logout-menu">
    <li class="nav-item">
      <a href="{{ url_for('admin.logout_view') }}" class="nav-link">
        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
      </a>
    </li>
  </ul>
</nav>
